:global(#root) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  height: calc(100vh - 16px);
  background-color: #f1f6f1;
}

.main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 50vw;
}
